#flexGrid {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 1px solid #000;
}

.cell {
    border: 1px solid #ccc;
    background-color: lightgray;
    box-sizing: border-box;
}

.cell:hover {
    background-color:aquamarine;
}

.cell.color {
    background-color:aquamarine;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}