/* styles.css */

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#startButton {
    margin-bottom: 25px;
}